In [29]:
# Data processing
import pandas as pd
import numpy as np
import scipy.stats
# Visualization
import seaborn as sns
# Similarity
from sklearn.metrics.pairwise import cosine_similarity

In [18]:
# Read in data
ratings=pd.read_csv('songsDataset.csv')
# Take a look at the data
ratings.head()

   'userID'  'songID'  'rating'
0         0      7171         5
1         0      8637         4
2         0     21966         4
3         0     35821         5
4         0     82446         5

In [19]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000000 entries, 0 to 1999999
Data columns (total 3 columns):
 #   Column    Dtype
---  ------    -----
 0   'userID'  int64
 1   'songID'  int64
 2   'rating'  int64
dtypes: int64(3)
memory usage: 45.8 MB

In [20]:
ratings.describe()

           'userID'      'songID'      'rating'
count  2.000000e+06  2.000000e+06  2.000000e+06
mean   9.999950e+04  6.798931e+04  3.459467e+00
std    5.773504e+04  3.940455e+04  1.553719e+00
min    0.000000e+00  0.000000e+00  1.000000e+00
25%    4.999975e+04  3.424900e+04  2.000000e+00
50%    9.999950e+04  6.779300e+04  4.000000e+00
75%    1.499992e+05  1.019480e+05  5.000000e+00
max    1.999990e+05  1.367350e+05  5.000000e+00

In [40]:
userSubsetGroup=ratings.groupby(["'userID'"])
print("worked")

worked

In [36]:
userSubsetGroup.get_group(1)

    'userID'  'songID'  'rating'
10         1      3342         5
11         1      7522         1
12         1     25363         2
13         1     38997         5
14         1     43685         1
15         1     45488         4
16         1     62770         3
17         1    109450         3
18         1    122506         3
19         1    130621         5

In [41]:
userSubsetGroup.get_group(110)

      'userID'  'songID'  'rating'
1100       110     22746         4
1101       110     28102         1
1102       110     63017         5
1103       110     68572         4
1104       110     71582         5
1105       110     83991         3
1106       110     90915         5
1107       110    101890         5
1108       110    113227         1
1109       110    114846         1

In [46]:
#Sorting it so users with song most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [48]:
#Top most user with id 75 having all 5 similar songs watched
userSubsetGroup[75]

(75,
      'userID'  'songID'  'rating'
 750        75      9317         2
 751        75     16716         1
 752        75     38174         4
 753        75     47762         4
 754        75     60936         5
 755        75     63514         2
 756        75     69291         3
 757        75     79004         3
 758        75     87688         1
 759        75     99279         5)

In [49]:
userSubsetGroup[0][0]

0

In [50]:
userSubsetGroup = userSubsetGroup[0:100]

In [54]:
unique_values = ratings["'songID'"].unique()

print(unique_values)

[  7171   8637  21966 ...  67015  99648 118866]

In [55]:
cout=len(unique_values)
print(cout)

127771

In [66]:
# Load the dataset into a pandas DataFrame
ratings_df = pd.read_csv('songsDataset.csv')
ratings_df=ratings_df.head(900)

# Pivot the ratings DataFrame into a user-item matrix
ratings_matrix = ratings_df.pivot_table(index="'userID'", columns="'songID'", values="'rating'")

# Fill missing values with zeros
ratings_matrix = ratings_matrix.fillna(0)

# Calculate the cosine similarity between users
user_similarity_matrix = cosine_similarity(ratings_matrix)

# Make predictions for user 5
user_id = 5
user_ratings = ratings_matrix.loc[user_id]
predicted_ratings = np.zeros(ratings_matrix.shape[1])
for i in range(ratings_matrix.shape[1]):
    if user_ratings[i] == 1:
        # Calculate the weighted average of the ratings of similar users
        similarity_scores = user_similarity_matrix[user_id, :]
        ratings = ratings_matrix.iloc[:, i]
        weighted_ratings = np.multiply(similarity_scores, ratings)
        predicted_ratings[i] = weighted_ratings.sum() / (similarity_scores.sum() + 1e-8)

# Sort the predictions by the predicted rating in descending order
predictions = list(enumerate(predicted_ratings))
predictions.sort(key=lambda x: x[1], reverse=True)

# Get the top 10 recommendations for user 5
top_n = 10
recommended_items = [i for (i, _) in predictions[:top_n]]

# Print the recommended items
print("Top {} recommendations for user {}: {}".format(top_n, user_id, recommended_items))

# Generate recommendations for user 0

# Load the ratings data into a matrix
# ratings = np.array([[3, 4, 0, 5],
#                     [4, 3, 5, 0],
#                     [0, 2, 4, 4],
#                     [5, 0, 3, 3]])

# # Calculate the similarity matrix
# similarity_matrix = cosine_similarity(ratings)

# # Find similar users to user 0
# user_id = 0
# similar_users = np.argsort(similarity_matrix[user_id])[::-1][1:]
# recommendations = {}
# for i in range(ratings.shape[1]):
#     if ratings[user_id, i] == 0:
#         # Calculate the weighted average of ratings for the item by the similar users
#         weighted_sum = 0
#         weight_sum = 0
#         for user in similar_users:
#             if ratings[user, i] != 0:
#                 weight = similarity_matrix[user_id, user]
#                 weighted_sum += weight * ratings[user, i]
#                 weight_sum += weight
#         if weight_sum != 0:
#             recommendations[i] = weighted_sum / weight_sum

# # Sort the recommendations by rating
# sorted_recommendations = sorted(recommendations.items(), key=lambda x: x[1], reverse=True)

# # Print the top recommendations
# for item_id, rating in sorted_recommendations[:5]:
#     print("Item {}: {}".format(item_id, rating))

KeyError: 0